{% extends "base.html" %}
{% block title %}
Pulpit
{% endblock %}
{% block head_stuff %}
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}
{% block content %}
Twoje dane logowań do witryn:
    <table>
        <tr>
            <th>Witryna</th>
            <th>Hasło</th>
            {% if session['masterPassword'] %}
                <th>Akcje</th>
            {% endif %}
        </tr>
        {% for site in sites %}
        <tr>
            <td>{{ site.site }}</td>
            <td id="passphrase-{{ site.id }}">{{ site.password }}</td>
            <td>
                {% if session['masterPassword'] %}
                    {% set link = url_for('dashboard_site_reveal', site_id=site.id) %}
                    <a id="decrypt-{{ site.id }}" title="Odkryj hasło do serwisu"
                    href="#" onclick="revealPassword('{{ link }}', '{{ site.id }}');return false;">Odszyfruj</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if session['masterPassword'] %}
        Twoje hasło odszyfrowujące jest ustawione.
        <form action="{{ url_for('dashboard_master_password_flush') }}" method="post">
            <input type="submit" value="Wyczyść hasło odszyfrowujące">
        </form>
    {% else %}
        <form action="{{ url_for('dashboard_master_password_set') }}" method="post">
            <label for="masterPassword">Ustaw swoje hasło deszyfrujące, żeby móc odszyfrować hasła:</label>
            <input type="password" id="masterPassword" name="masterPassword">
            <input type="submit" value="Ustaw">
        </form>
    {% endif %}
    <form method="post" action={{ url_for('dashboard_site') }}>
        <label for="site">Witryna</label>
        <input type="text" id="site" name="site">
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Dodaj witrynę">
    </form>
{% endblock %}